<form action='@Url.Action("CrearCuenta")'>
        <label for="Username">Username</label>
        <input type ="text" name="Username" id="Username"/>
        <label for="Contrase単a">Contrase単a</label>
        <input type ="password" name="Contrase単a" id="contrase単a"/>
        <label for="Nombre">nombre</label>
        <input type ="text" name="Nombre" id="nombre"/>
        <label for="Mail">Mail</label>
        <input type ="text" name="Mail" id="Mail"/>
        <label for="Telefono">Telefono</label>
        <input type ="number" name="Telefono" id="Telefono"/>

        <button type="submit">Enviar</button>
</form>