@{
    ViewData["Title"] = "Index";
}

<form class="form">
    <h2 class="titulo">LOG IN</h2>
    
    <div class="inputs">
        <label for="username">Username</label>
        <input type ="text" name="username" id="username"/>
        <label for="contraseña">Contraseña</label>
        <input type ="password" name="contraseña" id="contraseña"/>

    </div>

</form>